/* for responsive design */
@media screen and (max-width: 900px) {
    #chefs .cards {
        flex-wrap: wrap;
    }

    #chefs .cards .card {
        width: 40%;
    }

    #gallery .album {
        grid-template-columns: auto auto;
    }

    #gallery .album .img1 {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #gallery .album .img2 {
        grid-area: 1 / 2 / span 3 / span 1;
    }

    #gallery .album .img3 {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #gallery .album .img4 {
        grid-area: 3 / 1 / span 3 / span 1;
    }

    #gallery .album .img5 {
        grid-area: 4 / 2 / span 1 / span 1;
    }

    #gallery .album .img6 {
        grid-area: 5 / 2 / span 2 / span 1;
    }

    #gallery .album .img7 {
        grid-area: 6 / 1 / span 2 / span 1;
    }

    #contact form .row {
        flex-wrap: wrap;
    }

    #contact form .row input {
        width: 100%;
    }

    footer .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .about {
        width: 45%;
        order: 1; 
    }

    
    footer .contact {
        width: 45%;
        order: 2;
    }

    footer .subscribe {
        width: 100%;
        order: 3;
    }
}

@media screen and (max-width: 836px) {
    #home .homeContent {
        width: 55%;
    }

    #home .image {
        width: 35%;
    }
}

@media screen and (max-width: 767px) {
    #home .homeBody {
        flex-wrap: wrap;
    }

    #home .homeContent {
        width: 100%;
        order: 2;
    }

    #home .homeContent h2 {
        font-size: 55px;
    }

    #home .image {
        margin: auto;
        width: 60%;
        order: 1;
    }

    #chefs .cards .card {
        width: 60%;
    }

    #gallery .album {
        grid-template-columns: auto;
    }

    #gallery .album .img1 {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #gallery .album .img2 {
        grid-area: 8 / 1 / span 3 / span 1;
    }

    #gallery .album .img3 {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #gallery .album .img4 {
        grid-area: 3 / 1 / span 3 / span 1;
    }

    #gallery .album .img5 {
        grid-area: 11 / 1 / span 1 / span 1;
    }

    #gallery .album .img6 {
        grid-area: 12 / 1 / span 2 / span 1;
    }

    #gallery .album .img7 {
        grid-area: 6 / 1 / span 2 / span 1;
    }

    #contact .contactInfo>div {
        width: 100%;
    }

    footer .about {
        width: 100%;
        order: 1; 
        margin-bottom: 10px;
    }

    
    footer .contact {
        width: 100%;
        order: 3;
    }

    footer .subscribe {
        width: 100%;
        order: 2;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    #home .homeBody {
        flex-wrap: wrap;
        margin-top: 20%;
    }

    nav .navbar .modeGroup .responsiveNavIcon {
        display: block;
        margin: 0 20px;
    }

    nav .navbar>.navLinks {
        display: none;
    }

    nav .navbar .modeGroup {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #chefs .cards .card {
        width: 80%;
    }
}

@media screen and (max-width: 449px) {
    #home .homeContent .btnGroup {
        flex-direction: column;
        align-items: start;
    }

    #home .btnGroup a.videoBtn {
        padding: 0;
    }

    #chefs .cards .card {
        width: 90%;
    }
}

@media screen and (max-width: 330px) {
    #home .homeBody {
        margin-top: 25%;
    }

    #chefs .cards .card {
        width: 100%;
    }
}